<h1 class="title" style="margin: 0 -.4em;padding: .1em .4em">Books</h1>

<% @books.each do |vr| %>
<%=render :partial => '/vegresources/listitem', :locals => {:vr => vr}%>
 
<% end %>

<br />
<% if can? :create, Vegresource %>
<%= link_to 'New Book', new_vegresource_path(:vrtype => 'book'),:class => "btn btn-primary" %>
<%end%>
