<h1 class="title" style="margin: 0 -.4em;padding: .1em .4em">Videos</h1>

<% @videos.each do |vr| %>
<%=render :partial => '/vegresources/listitem', :locals => {:vr => vr}%>
<% end %>

<br />
<% if can? :create, Vegresource %>
<%= link_to 'Add Video Listing', new_vegresource_path(:vrtype => 'video'),:class => "btn btn-primary" %>
<%end%>
