<div id="content">
	<h2> Mission </h2>

    <p><i><b>"VIGOR (the Vegetarian Information Group of Rochester) is dedicated to promoting healthy, earth-friendly, and compassionate living through plant-based food choices"</b></i></p>
    
        <h2> Board Members </h2>
	    <p>  President and Founder - <a href="mailto:katiberg@charter.net">Kati Berg</a> 
		<br> Secretary - <a href="mailto:julie_eyrich@msn.com">Julie Eyrich</a>, (507) 254-8349
		<br> Treasurer - <a href="mailto:victorsc@yahoo.com">Rolf Yilvisaker</a> 
		<br> Special Events and WebSite Developer - <a href="mailto:jaben_kitson@yahoo.com">Jaben Kitson</a>, (507) 273-5806 
		</p>
</div>
