<div id="content">
	<h1> Rochester MN Vegetarian Dining Guide</h1>

   
<p> The VIGOR board members put together this list from personal dining experience and comments from members. These restaurants all have 

vegetarian options that we like, although these restaurants all serve non-vegetarian items as well.  If you have comments to add, please send 

us an e-mail or fill out the <a href="http://www.vigr.org/contact">contact</a> form. 
</p>

<h1> Local and family owned </h1>
<h2>
Nupa
</h2>
<p>
 1035 Civic Center Drive </br>
Rochester, MN 55901</br>
(507) 206-5044</br>
</p><p>
Family owned with original recipes.  Very vegetarian friendly greek style food including hummus and falafel pita sandwiches, many soups 

including lentil and fresh delicious salads and desserts.
</p>

<h2>
The Good Food Store Backroom Deli
</h2>
<p>
Phone: 507-289-9061 </br>
1001 6th St NW</br>
www.backroomdeli.com</br>
</p><p>
Many vegan home grown recipes and mostly organic. Located in the Good Food Co/op. Great for lunch or for take home salads, soups and burgers.
</p>

<h2>
Clay Oven
</h2>
<p>
Suite 200 , 2711 Commerce Drive NW Rochester.</br>
507-208-4300</br>
<a href="http://www.clayovenrochester.com">clayovenrochester.com</a></br>
</p><p>
Clay Oven restaurant has a number of vegan dishes available at their restaurant and the daily lunch buffet typically has several items which 

are vegan.

It is a small boutique type restaurant . They open for lunch M-Sat 11 am-2 pm and for dinner from 5pm-9pm.

All items are cooked fresh.
</p>

<h2>

India Curry House Downtown lunch buffet
</h2>
<p>
(507) 288-5001</br>
10am-3pm</br>
</p><p>
They cater downtown in the Breckenridge skyway (by shops at University Square) between the galleria and 2nd Street SW.
It is buffet style with somosas, pakora, naan and a few curries and rices.
The prices are very reasonable and they always have vegetarian options.
</p>

<h2>
O'Neill's Pizza & Pub
</h2>
<p>
1201 S. Broadway</br>
507-529-1200</br>
</p><p>
O'neill's has vegan dough and vegan cheese for a fullfilling dine in vegan pizza experience.  They also have a vegan bake at home to go menu. 

 The dough balls freeze well for your convenience making it easy to create vegan pizza creations at home.

Salad Dressing- pint $4.00
Pasta Sauce- pint $4.00
Pizza Sauce- pint $4.00
Dough Balls- small $1.25
large $1.50
Sheeted Dough- small $1.75
large $2.25
Cucumber Sauce/Dip- pint $4.50

</p> 

<h2>
India Curry House
</h2>
<p>
507-288-5001</br>
1647 South Broadway</br>
Rochester, MN 55904</br>
</p><p>
South & North Indian Cuisine,India Curry House is a fine dining restaurant to visit for delicious authentic North
and South Indian cuisine.
</p>

<h2>
Prescott's
</h2>
<p>
507-536-7775</br>
Crossroads Shopping Center</br>
1201 South Broadway</br>
Rochester, MN 55904</br>
<a href="http://www.prescottsgrill.com">www.prescottsgrill.com</a></br>
</p><p>
Has a vegetarian chef and they have great vegan options actually on the menu.
Super fancy meal (i.e. $20 a plate plus)
</p>

<h2>
India Garden
</h2>
<p>
(507) 288-6280</br>
1107 N Broadway, Rochester, MN 55906</br>
</p><p>
India Garden has been in town for over a decade and have many vegan options and a nice lunch buffet.
</p>

<h2>
Phoa Hoa
</h2>
<p>
(507) 281-9993</br>
1726 37th St NW, Rochester, MN 55901</br>
</p><p>
If you like TVP (texturized vegetable protein) and an inexpensive meal, you'll love Phoa Hoa.
</p>

<h2>
McGoon's Taxi Co. / Goonies Comedy Club
</h2>
<p>
(507) 288-8130</br>
7 2nd St SW</br>
Rochester, MN 55902</br>
<a href="http://www.mcgoonstaxi.com">www.mcgoonstaxi.com</a></br>
</p><p>
McGoons has vegan black bean burger patties that can be used in any of their burger menu items.
</p>

<h2>
Zorbas Greek Restaurant
</h2>
<p>
(507) 281-1540</br>
924 7th St Nw, Rochester, MN 55901</br>
</p><p>
A Greek sit down restaurant with good food. It's a quiet place that serves wine and traditional Greek entrees and desserts with several vegetarian 

and vegan options.
</p>



<h1> Franchise Restaurants </h1>
<h2>
Noodles & Co.
</h2>
<p>
3944 Marketplace Dr NW Rochester, MN 55901 (507)285-1111</br>
4607 Maine Ave SE Rochester, MN 55904 (507)393-6996</br>
<a href="www.noodles.com> www.noodles.com </a></br>
</p><p>
All entrees are vegetarian, most vegan. Tofu or meat are available as add ons.
</p>

<h2>
Z Pizza
</h2>
<p>
(507) 424-0440</br>
<a href="www.zpizza.com"> www.zpizza.com</a></br>
111 S Broadway</br>
Rochester, MN 55904</br>
</p><p>
Z pizza has vegan cheese. They also have veggie burger crumbles and many veggie options like avocados and artichoke for example.
The mexican style with veggie burger instead of chicken is great. They're pizzas are light on the tomato sauce, but good. Expect $10 per 

person.
They also have salads and Calzones. As far as pizza goes, it's not Pizza Luce but it is vegetarian friendly.
</p>

<h2>
Panera Bread Co. (2Locations)
</h2>
<p>
Market Place Drive</br>
3780 Market Place Drive NW</br>
Rochester, MN 55901</br>
(507) 280-9185 | phone</br>
(507) 280-9186 | fax</br>
free Wi-Fi hotspot</br>
</p><p>
Crossroads Drive</br>
460 Crossroads Drive SW</br>
Rochester, MN 55902</br>
(507) 285-5800 | phone</br>
(507) 285-5900 | fax</br>
free Wi-Fi hotspot</br></br>

<a href="www.panerabread.com"> www.panerabread.com</a></br>
</p><p>
Always has a soup or two that's vegan. Black bean and garden vegetable. They have additional vegetarian soups as well.

Their dutch apple bagel and blueberry bagel ingredient list appears to be vegan. They have avocados and also soy milk.

They do not have vegan cream cheese, but the South location is next door to HyVee which sells vegan tofutti cream cheese.
</p>

<h2>
Chipolte Mexican Grill (2 Locations)
</h2>
<p>
1201 S Broadway, Rochester - (507) 529-5484</br>
3780 Marketplace Dr NW, Rochester - (507) 288-9171</br>
<a href="www.chipotle.com"> www.chipotle.com</a></br>
</p><p>
The black bean burrito with salsas and guacamole is vegan and (caution) easily habbit forming.
</p>

<h2>
China Star
</h2>
<p>
405 1st Ave SW, Rochester - (507) 281-0014</br>
2808 41st St NW, Rochester - (507) 281-3905</br>
1505 Highway 14 E, Rochester - (507) 285-5924</br>
</p><p>
The Schezuan Tofu is VIGOR President Kati's favorite on the menu, but they have other vegan options as well. All of the sauces have been 

reported to contain non-vegetarian broth such as Oyster sauce.  The broth can be omitted from the white sauce on request.
</p>

<h2>
Taco Bell
</h2>
<p>
516 N Broadway, Rochester - (507) 282-1868</br>
215 Apache Mall, Rochester - (507) 282-1650</br>
<a href="www.tacobell.com"> www.tacobell.com</a></br></br>

4000 Marketplace Dr NW, Rochester - (507) 292-1863</br>
</p><p>
Order anything substitute beans for meat and make fresco style. If you order fresco style they automatically remove all dairy items and add 

pico de gallo!

It's pretty cool to be able to order something on the menu without asking for weird substitutes.
Just say:
- 7-layer burrito fresco style, add quacamole.
- Bean burrito fresco style.
</p>


<h2>
Fiesta Mexicana (Fiesta Caf&#233;)
</h2>
<p>
(507) 288-1116</br>
1645 N Broadway, Rochester, MN 55906</br>
</p><p>
Has a vegetarian section in the menu with chimichanga de papas and a fiesta burrito as well as a few others.
Note, the rice has chicken broth in it, but you can substitute with salad or fries.
</p>

<h2>
Dos Amigos
</h2>
<p>
(507) 536-4527</br>
1611 North Highway 52, Rochester, MN 55901</br></br>

(507) 282-3300</br>
20 4th Street SE, Rochester, MN 55904</br>

<a href="www.dosamigosminnesota.com"> www.dosamigosminnesota.com</a></br>
</p><p>
Dos Amigos has a few vegan options.  The veggie fajitas are good.
</p>




<h2>
Hu Hot
</h2>
<p>
(507) 206-4422</br>
102 Apache Mall</br>
Rochester, MN 55902</br>
<a href="www.huhot.com">www.huhot.com</a></br>
</p><p>
It is a Mongolian grill where you pick your own uncooked veggies and sauces out and bring it to the grill for them to grill it up in front of 

you. If you don't mind a little cross contamination, this can be a fun and filling (all you can eat) occasion.  They will clean a section of 

the grill off for you if you tell them you're vegetarian.
</p>
</div>