
<h2> <%=@calendardate.year%> </h2>
	<%= (calendar(:year => @calendardate.year, :month => @calendardate.month, 
:previous_month_text => form_tag("/events/calendar", :method => "post") + hidden_field_tag(:month, "prev") + hidden_field_tag(:calendarmonth, @calendardate.month.to_s()) + hidden_field_tag('calendaryear', @calendardate.year.to_s()) + submit_tag(value = "previous") + "</form>".html_safe,
:next_month_text => form_tag("/events/calendar", :method => "post") + hidden_field_tag(:month, "next") + hidden_field_tag(:calendarmonth, @calendardate.month.to_s()) + hidden_field_tag('calendaryear', @calendardate.year.to_s()) + submit_tag(value = "next ") + "</form>".html_safe,
:abbrev => (0..-1)) do |d| 
       thisdaysEvents = Event.all(:conditions => ["edate >= :start_date AND edate <= :end_date", { :start_date => DateTime.civil(d.year,d.month,d.day)-1.minute, :end_date => DateTime.civil(d.year,d.month,d.day)+1.minute }])  
       if thisdaysEvents.size >= 1 # Is there at least one event on this day?    
         [ "<p>" + d.mday.to_s + "</p>" + link_to(thisdaysEvents[0]["etitle"].to_s ,{:controller => "events", :action => "show", :id => thisdaysEvents[0]["id"]}), {:class => "specialDay", :onMouseOver => "popLayer('#{thisdaysEvents[0]["einfo"]}')", :onMouseOut => "hideLayer()"}]      # "specialDay", and gives the rest of the days another CSS class,
       else                                      # "normalDay". You can also use this highlight today differently
         [d.mday, {:class => "normalDay"}]       # from the rest of the days, etc.
       end
     end).html_safe%>
	 
<div id="object1" style="position:absolute;background-color:FFFFDD;color:black;border-color:black;border-width:20; visibility:show;left:25px; top:-100px; z-index:+1" onmouseover="overdiv=1;"  onmouseout="overdiv=0; setTimeout('hideLayer()',1000)">
pop up description layer
</div>


