/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 * html .class{ height:100% }
*/



html body{height:100% !important;margin:0;padding:0}

.content {
  width:100%;
  background-color:#e5e5e5;border: 1 solid #c6c6c6;
    padding:1em;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.8);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.8);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

h1,h2,h3{
  color:#f90 !important; text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
   
}

.title{
font-size:3em;color:#f90 !important;text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
   
}

.title a{
  color:#f90
}

.title a:hover{
  color:#f60;
  text-decoration:none
}

.footer{
  background-color:#fc6;
  color:#333;
}


