/*
  A grey based theme, inspired by Blinksale and their ColorBurn widget. http://firewheeldesign.com
  
  AUTHOR: Geoffrey Grosenbach http://nubyonrails.com
  
  Colors: 
    dk: 787888
    lt: 4f4f5b
    lter: a8a8a8
    white: ffffff
*/

/* TODO */

.calendar {
  border:none !important;
  color:gray;
  display:block;
  width: 128px;
  align: center;
  z-index: 1000;
  margin: .4em 0;
  padding: 2px 0;
}

td, .monthName, .otherMonth, .day, .specialDay, .dayName, .weekendDay, .today {
  height:.8em !important;
  width:1em !important;
   font-size:.8em !important;
   padding:1px !important;
   margin:0 !important;
}

th
{
  height:2em !important;
  width:16px !important;
   font-size:.9em !important;
   padding:1px !important;
   margin:0 !important;
}

thead tr {
  color: black;
}

.monthName th {
  color: black;
}

.dayName th {
  background-color: #696a68;
  color: white;
  border-bottom: 1px solid white;
}

.otherMonth, .day, .specialDay {
  border-right: 1px solid #111111 !important;
  border-left: 1px solid #111111 !important;
  border-color: #e6e0ce !important;
}

.otherMonth {
  color: #999999;height:1em;width:1.5em; font-size:.8em;
  background-color: #d7d6d1 !important;
}

.day, .specialDay {

  border-bottom: 1px solid #111111 !important;;
  border-top: 1px solid #111111 !important;
  border-color: #e6e0ce !important;
  background-color: #e6e0ce;
}

.weekendDay {
  background-color: #e6e0ce;
}


.specialDay a, .specialDay a:visited, .specialDay a:hover {
  padding: 0 !important;
  color: white;
  text-decoration: none;
  
}
.specialDay a:hover {
  color: black;
  background-color: white;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #f17a23;
 
}

.today {
	background-color: white;
	border: 1px dashed !important;
	border-color: black !important;
	color: black;
}

.specialDay {

  background-color: #f17a23;
  color: black;
}
/*
Colors: 
  dk: 787888
  lt: 4f4f5b
  lter: a8a8a8
  white: ffffff*/

