</div>

<!-- Footer -->
<div id="footer" class="row-fluid footer" style="position:fixed:bottom:0;margin-bottom:1em">
	<span class="span4" >
		<h5 style="padding:1em">Vegetarian Information Group of Rochester</h5>
		<h6 style="padding:.5em 1em 2em 1em"><i>"Dedicated to promoting healthy, earth-friendly, and compassionate living through plant-based food choices"</i></h6>	</span>
	<span class="span7"></span>
	<span class="span1"><%= render 'layouts/social' %></span>
</div>
</body>

</html>